<a href="https://colab.research.google.com/github/meshack199/meshack199/blob/main/Dphi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data Visualization Bootcamp at Dphi

In [1]:
#Setting up the page
#Importing mnecessary files 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
#Loading the dataset and checking first 5 rows and last 10 rows
df1=pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/world-happiness-report-2021.csv")
df1.head()

  Country name  ... Dystopia + residual
0      Finland  ...               3.253
1      Denmark  ...               2.868
2  Switzerland  ...               2.839
3      Iceland  ...               2.967
4  Netherlands  ...               2.798

[5 rows x 20 columns]

In [5]:
#checking last 10 rows of df1
df1.tail(10)

    Country name  ... Dystopia + residual
139      Burundi  ...               2.876
140        Yemen  ...               1.776
141     Tanzania  ...               1.263
142        Haiti  ...               2.060
143       Malawi  ...               2.190
144      Lesotho  ...               1.800
145     Botswana  ...               0.648
146       Rwanda  ...               1.095
147     Zimbabwe  ...               1.205
148  Afghanistan  ...               1.895

[10 rows x 20 columns]

In [21]:
df1.loc[df1["Country name"]=="Kenya"]

    Country name  ... Dystopia + residual
120        Kenya  ...                2.18

[1 rows x 20 columns]

In [22]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 20 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country name                                149 non-null    object
 1   Regional indicator                          149 non-null    object
 2   Ladder score                                149 non-null    float64
 3   Standard error of ladder score              149 non-null    float64
 4   upperwhisker                                149 non-null    float64
 5   lowerwhisker                                149 non-null    float64
 6   Logged GDP per capita                       149 non-null    float64
 7   Social support                              149 non-null    float64
 8   Healthy life expectancy                     149 non-null    float64
 9   Freedom to make life choices                149 non-null    float64
 10  Generosity                                  149 non-null    float64
 11  Perceptions of corruption                   149 non-null    float64
 12  Ladder score in Dystopia                    149 non-null    float64
 13  Explained by: Log GDP per capita            149 non-null    float64
 14  Explained by: Social support                149 non-null    float64
 15  Explained by: Healthy life expectancy       149 non-null    float64
 16  Explained by: Freedom to make life choices  149 non-null    float64
 17  Explained by: Generosity                    149 non-null    float64
 18  Explained by: Perceptions of corruption     149 non-null    float64
 19  Dystopia + residual                         149 non-null    float64
dtypes: float64(18), object(2)
memory usage: 23.4+ KB

In [23]:
df1.describe

<bound method NDFrame.describe of     Country name  ... Dystopia + residual
0        Finland  ...               3.253
1        Denmark  ...               2.868
2    Switzerland  ...               2.839
3        Iceland  ...               2.967
4    Netherlands  ...               2.798
..           ...  ...                 ...
144      Lesotho  ...               1.800
145     Botswana  ...               0.648
146       Rwanda  ...               1.095
147     Zimbabwe  ...               1.205
148  Afghanistan  ...               1.895

[149 rows x 20 columns]>

In [26]:
df1.isnull().sum()

Country name                                  0
Regional indicator                            0
Ladder score                                  0
Standard error of ladder score                0
upperwhisker                                  0
lowerwhisker                                  0
Logged GDP per capita                         0
Social support                                0
Healthy life expectancy                       0
Freedom to make life choices                  0
Generosity                                    0
Perceptions of corruption                     0
Ladder score in Dystopia                      0
Explained by: Log GDP per capita              0
Explained by: Social support                  0
Explained by: Healthy life expectancy         0
Explained by: Freedom to make life choices    0
Explained by: Generosity                      0
Explained by: Perceptions of corruption       0
Dystopia + residual                           0
dtype: int64

In [28]:
df1.duplicated().sum()

0

In [37]:
df1["Regional indicator"].unique()

array(['Western Europe', 'North America and ANZ',
       'Middle East and North Africa', 'Latin America and Caribbean',
       'Central and Eastern Europe', 'East Asia', 'Southeast Asia',
       'Commonwealth of Independent States', 'Sub-Saharan Africa',
       'South Asia'], dtype=object)

AttributeError: ignored